<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" name="G:/rest-assured-simple-api-automation">
        <classes>
            <class name="tests.ExampleTest">
                <methods>
                    <include name="testDbConnection"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
